<!-- jobpost section start -->
<section class="login-wrapper">
  <div class="container">
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
      <h2>User Profile</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">  
                  <h4>Bhaumik Patel</h4>
                  <small><i class="glyphicon glyphicon-map-marker"></i>
                    <cite title="San Francisco, USA">San Francisco, USA</cite>
                  </small>
                  <p>
                      <i class="glyphicon glyphicon-envelope"></i>email@example.com
                      <br />
                      <i class="glyphicon glyphicon-phone"></i>+7348714097
                      <br />
                      
                  </p>
                  <!-- Split button -->
                  <a a routerLink="/editprofile" routerLinkActive="active" class="btn btn-info">Edit Profile</a>
                  <br /><br />
                  <a routerLink="/changepassword" routerLinkActive="active" class="btn btn-danger">Change Password</a>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
<!-- jobpost section End -->	