<!-- signup section start -->
<section class="login-wrapper">
    <div class="container">
      <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
        <form>
          <img class="img-responsive" alt="logo" src="assets/img/logo.png">

        <div  data-validate="Name is required">
          <span class="label-input100">Full Name</span>
          <input class="form-control input-lg" type="text" name="name" placeholder="Name...">
          <span class="focus-input100"></span>
        </div>

        <div  data-validate = "Valid email is required: ex@abc.xyz">
          <span class="label-input100">Email</span>
          <input class="form-control input-lg" type="text" name="email" placeholder="Email addess..." id="eml" name="email" title="Format: xxx@xxx.com" 
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
          <span class="focus-input100"></span>
        </div>

        

        <div  data-validate = "Password is required">
          <span class="label-input100">Password</span>
          <input class="form-control input-lg" type="password" name="pass" placeholder="*************" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
          <span class="focus-input100"></span>
        </div>

        <div  data-validate = "Repeat Password is required">
          <span class="label-input100">Repeat Password</span>
          <input class="form-control input-lg" type="password" name="repeat-pass" placeholder="*************" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
          <span class="focus-input100"></span>
        </div>

        <div class="flex-m w-full p-b-33">
          <div>
            
            <label class="label-checkbox100" for="ckb1">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">	
              <span class="txt1">
                I agree to the Terms and Conditions
                
              </span>						
            
            </label>
            
          </div>

          
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
              Sign Up
            </button>
          </div>

          <a routerLink="/login" routerLinkActive="active" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
            Sign in
            <i class="fa fa-long-arrow-right m-l-5"></i>
          </a>
        </div>
        </form>
      </div>
    </div>
  </section>
  <!-- signup section End -->	