<!-- jobpost section start -->
<section class="login-wrapper">
  <div class="container">
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
      <h2>Edit Profile</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
              <form>
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <div class="col-md-12"><h3>First Name</h3></div>  
                    <input type="text" id="fullname" class="form-control" value="Bhaumik ">
                  </div>
                </div>
      
                <div class="row form-group mb-5">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <div class="col-md-12"><h3>Last Name</h3></div>
                    <input type="text" id="fullname" class="form-control" value="Patel">
                  </div>
                </div>
      
                <div class="row form-group mb-5">
                    <div class="col-md-12 mb-3 mb-md-0">
                      <div class="col-md-12"><h3>Email Address</h3></div>
                      <input type="text" id="pay" class="form-control" value="email@example.com">
                    </div>
                </div>
      
                <div class="row form-group mb-4">
                  <div class="col-md-12"><h3>Mobile Number</h3></div>
                  <div class="col-md-12 mb-3 mb-md-0">
                    <input type="text" class="form-control" value="+7348714097 ">
                  </div>
                </div>
      
                <div class="row form-group">
                  <div class="col-md-12"><h3>Address</h3></div>
                  <div class="col-md-12 mb-3 mb-md-0">
                    <textarea name="" class="form-control" id="" cols="30" rows="5">Friedrich-Heinrich-Allee 25, 47475 Kamp-Lintfort</textarea>
                  </div>
                </div>
      
                <div class="row form-group">
                  <div class="col-md-12">
                    <input type="submit" value="Update Profile" class="btn btn-primary  py-2 px-5">
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
<!-- jobpost section End -->	
