<section class="main-banner" style="background:#242c36 url(assets/img/slider-01.jpg) no-repeat">
  <div class="container">
    <div class="caption">
      <h2>Search for a Quick Job</h2>
      <form>
        <fieldset>
          <div class="col-md-4 col-sm-4 no-pad">
            <input type="text" class="form-control border-right" placeholder="Skills, Designation, Companies" />
          </div>

          <div class="col-md-3 col-sm-3 no-pad">
            <select class="selectpicker">
              <option>Select Category</option>
              <option>Accounting / Finance</option>
              <option>Automotive Jobs</option>
              <option>Construction / Facilities</option>
              <option>Education Training</option>
              <option>Healthcare</option>
              <option>Restaurant / Food Service</option>
              <option>Transportation / Logistics</option>
              <option>Telecommunications</option>
            </select>
          </div>
          
                        <div class="col-md-3 col-sm-3 no-pad">
            <select class="selectpicker border-right">
              <option>Location</option>
              <option>Aachen</option>
              <option>Essen</option>
              <option>Duisburg</option>
              <option>koln</option>
              <option>kleve</option>
              <option>Minden</option>
            </select>
          </div>
          <div class="col-md-2 col-sm-2 no-pad">
            <input type="submit" class="btn seub-btn" value="submit" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="col-md-4 col-sm-4">
      <div class="features-content">
        <span class="box1"><span aria-hidden="true" class="icon-dial"></span></span>
        <h3>Create An Account</h3>
        
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4">
      <div class="features-content">
        <span class="box1"><span aria-hidden="true" class="icon-search"></span></span>
        <h3>Search Desired Job</h3>
        
      </div>
    </div>
    
    <div class="col-md-4 col-sm-4">
      <div class="features-content">
        <span class="box1"><span aria-hidden="true" class="icon-printer"></span></span>
        <h3>Post Job</h3>
      </div>
    </div>
    

  
  </div>
</section>