
<!-- login section start -->
<section class="login-wrapper">
  <div class="container">
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
      <form name="myForm">
        <img class="img-responsive" alt="logo" src="assets/img/logo.png">
        <input type="text" class="form-control input-lg" placeholder="User Name / Email Id " ng-model="username">
      
        <input type="password" class="form-control input-lg" placeholder="Password">
        <label><a href="">Forget Password?</a></label>
        <button type="submit" class="btn btn-primary"  (click)="onLoginClick()">Login</button>
        <p>Have't Any Account <a routerLink="/signup" routerLinkActive="active">Create An Account</a></p> 
      </form>
    </div>
  </div>
</section>
<!-- login section End -->	
