<nav class="navbar navbar-default navbar-sticky bootsnav" >

  <div class="container">      
    <!-- Start Header Navigation -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" class="logo" alt=""></a>
    </div>
    <!-- End Header Navigation -->
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp" *ngIf="!isUserLoggedIn">
        
          <li><a routerLink="/main" routerLinkActive="active">Home</a></li> 
          <li><a routerLink="/login" routerLinkActive="active">Login/Signup</a></li> 
         
         
         
        </ul>
    </div><!-- /.navbar-collapse -->

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp" *ngIf="isUserLoggedIn">
          
            <li><a routerLink="/main" routerLinkActive="active">Home</a></li> 
           
              <li><a routerLink="/jobpost" routerLinkActive="active">Job Post</a></li>
              <li><a routerLink="/userprofile" routerLinkActive="active">Profile</a></li>
           
           
          </ul>
      </div><!-- /.navbar-collapse -->
    
  </div>
</nav>
<!-- Navigation End  -->