<!-- footer start -->
<footer>
  <div class="container">
    
    <div class="col-md-3 col-sm-6">
      <h4>Who we are</h4>
      <ul>
        <p>
        Jober Desk employs different people who share something very important in common: 
        they always strive for the best results.
        The large common goal is to make each month millions of jobs to think to their dream job and company to the best-fit talent lead .
        </p>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6"></div>
    
    
    <div class="col-md-3 col-sm-6">
      <h4>Reach Us</h4>
      <address>
      <ul>
      <li>47475,kamp linkfort<br>
      Germany</li>
      <li>Email: Support@job.com</li>
      <li>Call: 044 123 458 65879</li>
      <li>Skype: job@skype</li>
      <li>FAX: 123 456 85</li>
      </ul>
      </address>
    </div>
    
    
    
    
  </div>
  <div class="copy-right">
   <p>&copy;Copyright 2019 Jober Desk | Design By <a href="https://themezhub.com/">HSRW students</a></p>
  </div>
</footer>
 
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script src="js/bootsnav.js"></script>
<script src="js/main.js"></script>
